@font-face {
    font-family: 'LatoBold';
    src: url("./fonts/Lato/lato-bold-webfont.eot");
    src: url("./fonts/Lato/lato-bold-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-bold-webfont.woff") format("woff"),url("./fonts/Lato/lato-bold-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-bold-webfont.svg#latobold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url("./fonts/Lato/lato-bolditalic-webfont.eot");
    src: url("./fonts/Lato/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-bolditalic-webfont.woff") format("woff"),url("./fonts/Lato/lato-bolditalic-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-bolditalic-webfont.svg#LatoBoldItalic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'latoheavy';
    src: url("./fonts/Lato/lato-heavy-webfont.eot");
    src: url("./fonts/Lato/lato-heavy-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-heavy-webfont.woff") format("woff"),url("./fonts/Lato/lato-heavy-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-heavy-webfont.svg#latoheavy") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'LatoItalic';
    src: url("./fonts/Lato/lato-italic-webfont.eot");
    src: url("./fonts/Lato/lato-italic-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-italic-webfont.woff") format("woff"),url("./fonts/Lato/lato-italic-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-italic-webfont.svg#LatoItalic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'LatoLight';
    src: url("./fonts/Lato/lato-light-webfont.eot");
    src: url("./fonts/Lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-light-webfont.woff") format("woff"),url("./fonts/Lato/lato-light-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-light-webfont.svg#LatoLight") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'LatoLightItalic';
    src: url("./fonts/Lato/lato-lightitalic-webfont.eot");
    src: url("./fonts/Lato/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-lightitalic-webfont.woff") format("woff"),url("./fonts/Lato/lato-lightitalic-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-lightitalic-webfont.svg#LatoLightItalic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'latomedium';
    src: url("./fonts/Lato/lato-medium-webfont.eot");
    src: url("./fonts/Lato/lato-medium-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-medium-webfont.woff") format("woff"),url("./fonts/Lato/lato-medium-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-medium-webfont.svg#latomedium") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'LatoRegular';
    src: url("./fonts/Lato/lato-regular-webfont.eot");
    src: url("./fonts/Lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-regular-webfont.woff") format("woff"),url("./fonts/Lato/lato-regular-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-regular-webfont.svg#latoregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'latosemibold';
    src: url("./fonts/Lato/lato-semibold-webfont.eot");
    src: url("./fonts/Lato/lato-semibold-webfont.eot?#iefix") format("embedded-opentype"),url("./fonts/Lato/lato-semibold-webfont.woff") format("woff"),url("./fonts/Lato/lato-semibold-webfont.ttf") format("truetype"),url("./fonts/Lato/lato-semibold-webfont.svg#latosemibold") format("svg");
    font-weight: normal;
    font-style: normal
}
