mixin scripts
	script(data-skip-moving="true" src="http://tavrida.dextra-test.ru/js/modernizr.custom.js")
	script(src="http://tavrida.dextra-test.ru/js/plugins.js")
	script(src="http://tavrida.dextra-test.ru/js/main.js")

	script(src='./js/vendor.min.js')
	script(src='./js/script.min.js')
